---
layout: page
title: Omid Shamoil's Portfolio
subtitle: Projects Past & Present
sitemap:
  priority: 0.9
permalink: /portfolio/
---
<ul class="list-posts">
    {% for post in site.posts %}
        {% if post.project %}
            <li class="project-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <p class="post-teaser__title">{{ post.title }}</p>
                    <p class="post-teaser__subtitle">{{ post.subtitle }}</p>
                    <br>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
