---
layout: page
title: Omid Shamoil's Portfolio
subtitle: Projects Past & Present
sitemap:
  priority: 0.9
permalink: /portfolio/
---
<!--<ul class="list-posts">-->
    {% for post in site.posts %}
        {% if post.project %}
            <div class="project-teaser">
<!--                <a href="{{ post.url | prepend: site.baseurl }}">-->
                    <p class="post-teaser__title">{{ post.title }}</p>
                    <p class="post-teaser__subtitle">{{ post.description }}</p>
                    <br>
                    <span>
                    <a href="{{ post.github }}" class="social-links__entry" target="_blank">
                        <i class="fa fa-github fa-2x proj-gh"></i>
                    </a>
                        <span class="proj-tech">{{post.tech}}</span>
                    </span>
<!--                    <span>{{post.tech}}</span>-->
<!--                </a>-->
            </div>
        {% endif %}
    {% endfor %}
<!--</ul>-->
